/*  
    CI - Farben
    lila        -   #ff00ff
    hellblau    -   #00ffff
    dunkelgrau  -   #383838
*/

@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

/* ALLGEMEIN */

body {
    margin: 0;
    background-color: #383838;
}

a, :link, :visited, :active {
    color: #000;
    text-decoration: none;
}

header {
    text-align: center;
}

.logo {
    margin-top: 0.5%;
    margin-left: 0.5%;
    width: 20%;
    background: transparent;
}

main.center {
    display: grid;
    justify-items: center;
    height: 100vh;
    margin: 0 auto;
}

.ueberschrift {
    font-size: 111px;
    font-family: "Amatic SC", cursive;
    font-weight: 900;
    color: #00ffff;
}

.ueberschrift2 {
    font-size: 84px;
    font-family: "Amatic SC", cursive;
    font-weight: 900;
    color: #00ffff;
}

/* INDEX */

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 0.5%;
    row-gap: 3%;
    max-width: 80%;
    margin: 0.5% auto;
}

.kachel {
    background-color: transparent;
    padding: 11%;
    border: 4px solid;
    border-image:
        linear-gradient(
            to right,
            #00ffff 0%,
            #000 20%,
            #000 80%,
            #ff00ff 100%
        ) 1;
    
    text-align: center;
    font-size: 111px;
    font-family: "Amatic SC", cursive;
    font-weight: 900;
    color: #00ffff;
}

  .kachel:hover {
    color: #ff00ff;
}

/* FORMULARE */

#rezeptformular * {
    background-color: transparent !important;
}

#nutzerdaten * {
    background-color: transparent !important;
}

.abschnitt {
    /* background-color: transparent; */
    margin-bottom: 20px;
}

div.abschnitt > b {
    color: #ff00ff;
    font-family: "Amatic SC", cursive;
    font-size: 44px;
}

input {
    margin-right: 10px;
    color: #00ffff;
    font-size: 33px;
}

form > button.absenden {
    color: #00ffff;
    font-size: 22px;
    font-weight: 900;
    border-color: #ff00ff;
}

button.mehr {
    color: #00ffff;
}

/* STATUS */

p.statusdisplay {
    font-size: 99px;
    font-family: "Amatic SC", cursive;
    font-weight: 750;
    color: #ff00ff;
}