<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Brautagebuch</title>
</head>

<body>

    <header>
        <h1 class="ueberschrift">Dein Brautagebuch</h1>
    </header>

    <main class="center">
        {% for protokoll in alleProtokolle %}
            {% for datum, daten in protokoll.items %}
                {% if daten.abgeschlossen %}
                    <div class="protokoll">
                        <h2>   Brauprotokoll {{ datum }}   </h2>
                        <p><b>{{ daten.name }}</b></p>
                        <p>Sudgröße: {{ daten.menge }} L</p>
                        <p>Maischplan: </p>
                            <ul>
                                {% for temperatur, dauer in daten.maischplan.items %}
                                <li>{{ temperatur }} °C: {{ dauer }} Minuten</li>
                                {% endfor %}
                            </ul>
                        <p>Hopfengaben: </p>
                            <ul>
                                {% for hopfen in daten.hopfengaben %}
                                    <li>{{ hopfen.sorte }}: {{ hopfen.menge }} g bei {{ hopfen.zeit }} Minuten</li>
                                {% endfor %}
                            </ul>
                        <p>Kochzeit: {{ daten.kochzeit }} Minuten</p>
                        <p>Anstelltemperatur: {{ daten.anstelltemperatur }} °C</p>
                        <p>Hefe: {{ daten.hefe }}</p>
                        <form action="{% url 'steuerformularErstellen' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="datum" value="{{ datum }}">
                            <button type="submit" class="absenden" onclick="zumZoll()">Steuerformular erstellen!</button>
                        </form>
                        <br><br>
                        <hr>
                        <br>
                    </div>

                {% endif %}
            {% endfor %}
        {% endfor %}
    </main>
    <script src="{% static 'scripts.js' %}"></script>
</body>

</html>