<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Brauordnungsamt</title>
</head>

<body>
    
    <header>
        <img class="logo" src="{% static 'BOA_Logo.png' %}" alt="Logo Brauordnungsamt">
    </header>

    <main class="grid">

        <a href="rezept">
            <div class="kachel" >
                Rezept & GO!
            </div>
        </a>

        <a href="brautagebuch">
            <div class="kachel">
                Brautagebuch
            </div>
        </a>

        <a href="nutzer">
            <div class="kachel">
                Nutzer
            </div>
        </a>

        <div class="kachel">
            LEER
        </div>

    </main>

</body>

</html>