<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Rezeptformular</title>
</head>

<body>

    <header>
        <h1 class="ueberschrift">Persönliche Daten</h1>
    </header>

    <main class="center">
        <form action="{% url 'nutzerdatenaendern' %}" id="nutzerdaten" method="post">
            {% csrf_token %}

            <div class="abschnitt" id="name">
                <b>Name: </b><br>
                <div class="nutzerdaten">
                    <input type="text" name="name" value="{{ nutzer.name }}">
                </div>
            </div>
            
            <div class="abschnitt" id="hauptzollamt">
                <b>Zuständiges Hauptzollamt: </b><br>
                <div class="nutzerdaten">
                    <input type="text" name="hauptzollamt" value="{{ nutzer.hauptzollamt }}">
                </div>
            </div>    

            <div class="abschnitt" id="menge">
                <b>Dieses Jahr bereits gebraute Menge: </b><br>
                <div class="nutzerdaten">
                    <input type="text" name="menge" value="{{ nutzer.menge }}">
                </div>
            </div>

            <button type="submit">Angaben speichern!</button>
        </form>
    </main>

</body>

</html>