<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'styles.css' %}">
  <title>Rezeptformular</title>
</head>

<body>

  <header>
    <h1 class="ueberschrift">Lege ein Rezept an und starte deinen Brauvorgang!</h1>
  </header>

  <main class="center">
    <form action="{% url 'rezeptanlegen' %}" method="post" id="rezeptformular">
      {% csrf_token %}
      <div class="abschnitt" id="name">
        <b>Name: </b>
        <input type="text" name="name" required>
      </div>

      <div class="abschnitt" id="schuettung">
        <b>Schüttung: </b>
        <div id="alleSchuettungen">
          <div class="schuettung">
            <input type="text" name="malzart[]" placeholder="Malzart" required>
            <input type="number" step="0.1" name="malzmenge[]" placeholder="Menge (kg)" required>
          </div>
        </div>
        <button type="button" onclick="schuettungHinzufuegen()" class="mehr">+ weitere Schüttung</button>
      </div>

      <div class="abschnitt" id="maischplan">
        <b>Maischplan: </b>
        <div id="alleRasten">
          <div class="maischplan">
            <input type="number" name="temperatur[]" placeholder="Temperatur (°C)" required>
            <input type="number" name="dauer[]" placeholder="Dauer (min)" required>
          </div>
        </div>
        <button type="button" onclick="rastHinzufuegen()" class="mehr">+ weitere Rast</button>
      </div>

      <div class="abschnitt" id="kochzeit">
        <b>Kochzeit: </b>
          <input type="number" name="kochzeit" placeholder="(min)" required>
      </div>

      <div class="abschnitt" id="hopfengaben">
        <b>Hopfengaben: </b>
        <div id="alleHopfengaben">
          <div class="hopfengaben">
            <input type="text" name="sorte[]" placeholder="Sorte" required>
            <input type="number" name="hopfenmenge[]" placeholder="Menge (g)" required>
            <input type="number" name="zeit[]" placeholder="Zeit (min)" required>
          </div>
        </div>
        <button type="button" onclick="hopfengabeHinzufuegen()" class="mehr">+ weitere Hopfengabe</button>
      </div>

      <div class="abschnitt" id="gaerung">
        <b>Anstelltemperatur: </b>
          <input type="number" name="anstelltemperatur" placeholder="(C°)" required> <br> <br>
        <b>Hefe: </b>
          <input type="text" name="hefe" required>
      </div>

      <button type="submit" class="absenden">Rezept anlegen & Brauvorgang starten &#10093; &#10093; &#10093;</button>
    </form>
  </main>

  <script src="{% static 'scripts.js' %}"></script>

</body>

</html>
