<!DOCTYPE html>
{% load static %}
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="refresh" content="25">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Status</title>
</head>

<body>

    <header>
        <h1 class="ueberschrift">Aktueller Status deines Brauvorgangs</h1>
    </header>

    <main class="center">
        <p class="statusdisplay">{{ status }}</p>

        {% if "Einmaischtemperatur" in status %}
        <form action="{% url 'rastenStarten' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="absenden">Rasten beginnen!</button>
        </form>
        {% endif %}
    </main>

</body>

</html>